<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Schema checker</title>

  <!-- Metas for the crawlers to munch on -->
  <meta name="description" content="Checks if the pages on a site have schemas defined at schema.org">
  <meta name="author" content="Mudit Ameta">

  <!-- Mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <p><%= env %></p>
  <% if ('production' !== env) { %>
    <script src="js/bundle.js"></script>
  <% } else { %>
    <script src="js/bundle.min.js"></script>
  <% } %>
</body>

</html>
